body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #4c8dfc;
}

.container {
  width: 100%;
  padding: 40px;
  color: white;
}

.title-section h1,
.title-section h2 {
  margin: 0;
}

.bold {
  font-size: 48px;
  font-weight: 900;
}

.box {
  width: 450px;
  background: black;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
  position: relative;
}

.box input {
  width: 80%;
  height: 38px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 15px;
}

.add-btn {
  width: 45px;
  height: 90px;
  background: white;
  border-radius: 10px;
  color: #4c8dfc;
  font-size: 40px;
  border: none;
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.gen-btn {
  margin-top: 10px;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: white;
}

.count-box {
  margin-top: 40px;
  color: white;
  font-size: 18px;
  text-align: left;
}

.count-box h1 {
  font-size: 55px;
  margin-top: 5px;
}

.saved-title {
  margin-top: 40px;
  font-size: 18px;
}

.saved-list {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.saved-card {
  width: 220px;
  height: 120px;
  background: black;
  border-radius: 6px;
  padding: 12px;
  font-size: 14px;
}
